@mixin before_circle {

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}

@mixin before_circle-skills {

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -35%;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}

@mixin before_circle-skills-creative {

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -35%;
        left: 45%;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: url(../icons/skills/devil.svg);
    }
}

@mixin divider {
    width: 60px;
    height: 0px;
    border: 2px solid $main-color;
    background: $main-color;
}

@mixin before_circle-about {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -10px;
        left: -15px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}

@mixin before_circle-price {
    content: '';
    width: 15px;
    height: 15px;
    background-color: $main-color;
    border-radius: 100%;
    position: absolute;
    top: 5px;
}