.about {
    padding: 120px 0 0 0;
    &__descr {
        padding-top: 6px;
    }
}

.about__photo {
    img {
        width: 100%;
    }
}
.grid-container {
    width: 1040px;
    height: 560px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 570px, ;
    grid-template-rows: repeat(2, 600px);
    // grid-auto-rows: 260px;
    gap: 70px;
}

.about__divider {
    @include divider
}

.about__text {
    padding: 20px 0 40px 0;
    font-size: 14px;
    line-height: 21px;
}

.about__skills {
    display: grid;
    grid-template-columns: repeat(2, 260px) ;
    grid-template-rows: repeat(2, 116px);
    grid-auto-rows: minmax(116px);
    gap: 30px 30px;
}

.about__item {
    position: relative;
    padding-left: 50px;
    span {
        font-size: 12px;
        padding-top: 6px;
    }
}

.about__img {
    position: absolute;
    top: 10px;
    left: 15px;
    @include before_circle-about
}

