.hardskills {
    padding-top: 120px;
    &__tech {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
        padding-top: 60px;
    }
}

.hardskills__tech-item {
    width: 270px;
    height: 270px;
    border: 1px solid black;
    padding: 30px 29px 25px 30px;
    img {
        padding-bottom: 20px;
    }
    p {
        padding-top: 15px;
        font-size: 12px;
    }
}