@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px; 
    }

    .about__wrapper {
        grid-template-columns: 400px 520px;
        gap: 35px;
    }

    .about__skills {
        column-gap: 20px;
        grid-template: repeat(2, minmax(115px,auto))/repeat(2,250px);
    }
    // .examples {
    //     &__wrapper {
    //         grid-template-columns: repeat(auto-fit, 280px);
    //         grid-auto-rows: 280px;
    //         justify-content: space-around;
    //         row-gap: 35px;
    //         .horizonal, .vertical {
    //             grid-row: unset;
    //             grid-column: unset;
    //         }
    //     }
    // }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px; 
    }
    .about {
        margin-top: 50px;
    }

    .about__wrapper {
        grid-template-columns: 300px 385px;
        gap: 35px;
    }

    .about__skills {
        row-gap: 15px;
        grid-template-columns: 380px;
        grid-auto-rows: minmax(115px, auto);
    }

    .about__text {
        padding-bottom: 15px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 540px;
        margin: 0 10px;
    }

    .promo {
        padding-top: 100px;
    }

    .fz48 {
        font-size: 28px;
        line-height: 39px;
    }

    .promo__title {
        margin-top: 10px;
        width: 300px;
    }

    .promo__link-white {
        color: white;
    }

    .about__wrapper {
        width: 100vw;
        height: 100%;
        grid-template: 340px auto auto/1fr;
        gap: 35px;
    }

    .about__photo {
        display: none;
        // width: 340px;
        // grid-row: unset;
        // img {
        //     object-fit: cover;
        // }
    }

    .about__skills {
        row-gap: 30px;
        grid-template-columns: repeat(2, 260px);
        grid-auto-rows: minmax(115px, auto);
    }

    .about__descr {
        width: 100%;
    }

    .resume__wrapper {
        padding: 20px 10px;
        grid-template-columns: 1fr;
    }

    .skills {
        margin-top: 30px;
    }

    .skills__tech {
        grid-template-columns: repeat(2, 270px);
    }

    .skills__rating {
        margin-top: 60px;
    }

    .skills__rating_wrapper {
        grid-template-columns: 1fr;
    }
    .skills__ratings-line {
        width: 100%;
        height: 14px;
        background-color: #E8E4DE;
        border-radius: 4px;
    }

    .examples {
        margin-top: 50px;
    }

    .examples__wrapper {
        margin-top: 40px;
        grid-template-columns: repeat(2, 260px);
        grid-auto-rows: 260px;
        justify-content: space-around;
        row-gap: 20px;

        .horizontal {
            grid-row: unset;
            grid-column: unset;
        }
    
        .vertical {
            grid-row: unset;
            grid-column: unset;
        }
    }

    .price {
        margin-top: 50px;
    }

    .price__wrapper {
        margin-top: 30px;
        padding: 0 5px;
        grid-template: repeat(6, minmax(45px, auto))/1fr
    }

    .contacts {
        padding-top: 50px;
    }
    .contacts__wrapper {
        padding: 0;
    }

    .contacts__photo {
        display: none;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px; 
    }

    .fz48 {
        font-size: 26px;
        line-height: 39px;
    }

    .promo {
        background: url(../img/mebg.jpg) no-repeat 65%/cover;
        padding-top: 150px;
        padding-left: 10px;
    }

    .promo__title {
        margin-top: 25px;
        width: 300px;
    }

    .promo__btns {
        margin-top: 30px;
        width: 240px    ;
    }

    .hamburger {
        right: 20px;
        span {
            width: 30px;
            height: 3px;
        }
        span.long {
            width: 35px;
        }
    }

    .menu__block {
        width: 300px;
        padding-top: 140px;
    }

    .menu__link {
        font-size: 24px;
        line-height: 34px;
    }

    .about__wrapper {
        width: 100vw;
        height: 540px;
        grid-template: 340px auto auto/1fr;
        gap: 35px;
    }

    .about__skills {
        row-gap: 15px;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(115px, auto);
    }

    .fz36 {
        font-size: 26px;
    }

    .resume__wrapper {
        padding: 20px 10px;
        grid-template-columns: 1fr;
    }

    .skills {
        padding-top: 20px;
    }

    .skills__tech {
        grid-template-columns: 1fr;
        padding: 20px 0;
        justify-items: center;  
    }

    .skills__tech-item {
        text-align: center;
    }

    .skills__rating {
        padding-top: 20px;
        margin-top: 20px;
    }

    .skills__rating_wrapper {
        grid-template-columns: 1fr;
    }

    .skills__rating-item {
        grid-template: 30px/1fr;
        gap: 10px;
    }

    .skills__ratings-line {
        width: 95%;
    }

    .examples {
        margin-top: 60px;
    }

    .examples__wrapper {
        margin-top: 40px;
        grid-template-columns: repeat(auto-fit, 280px);
        grid-auto-rows: 280px;
        justify-content: space-around;
        row-gap: 35px;

        .horizontal {
            grid-row: unset;
            grid-column: unset;
        }
    
        .vertical {
            grid-row: unset;
            grid-column: unset;
        }
    }

    .price {
        margin-top: 40px;
    }

    .price__wrapper {
        margin-top: 30px;
        padding: 0 5px;
        grid-template: repeat(6, minmax(45px, auto))/1fr
    }
    
    .contacts {
        padding: 50px 0 50px 0;
    }

    .contacts__wrapper {
        width: 100vw;
        grid-template-columns: 1fr;
        padding: 0px;
        grid-row: unset;
        grid-column: unset;
    }

    .contacts__photo {
        display: none;
    }

    .contacts__form {
        grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }

    .contacts__txtarea {
        grid-column: unset;
        width: 100%;
    }

    .contacts__triggers {
        grid-column: unset;
        grid-template-columns: 1fr;
        column-gap: unset;
        row-gap: 20px;
    }

    .contacts__btn {
        order: 2;
        max-width: 220px;
        margin: 0 auto;
    }

    .contacts__policy {
        width: 180px;
        margin: 0 auto;
        line-height: 18px;
    }

    
    // .contacts__descr {
    //     text-align: center;
    // }
}

@media (max-width: 321px) {
    .skills__tech {
        padding-left: 15px;
    }
}