.sidepanel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    top: 230px;
    left: 50px;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: black;
    }
}

.sidepanel__text {
    height: 180px;
    width: 25px;
    span {
        transform: rotate(-90deg) translate(-30%, -290%);
        display: block;
        width: 150px;
    }
}