.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
}

.section__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.section__title {
    text-align: center;
    position: relative;
    @include before_circle;
    &:before {
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.fz16 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.fz20 {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.fz48 {
    font-size: 48px;
    margin: 0;
}

.fz14 {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.fz36 {
    font-size: 36px;
    line-height: 60px;
    margin: 0;
}
