.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;    
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        position: relative;
        // left: -100%;
        width: 345px;
        background-color: rgb(3, 3, 3);
        height: 100%;
        padding-top: 140px;
        // padding-left: 40px;
        transition: all 0.6s;
        z-index: 10;
    }
}

.menu__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: all 0.7s;
    &:hover {
        transform: rotate(90deg);
        path {
            fill: #ffffff;
        }
    }
}

.menu__list {
    list-style-type: none;
    // padding-left: 35px;
}

.menu__link {
    position: relative;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    // &:before {
    //     content: '';
    //     position: absolute;
    //     left: -35px;
    //     top: 11px;
    //     width: 15px;
    //     height: 15px;
    //     border: 1px solid rgb(6, 226, 255);
    //     border-radius: 100%;
    //     transition: all 0.7s;
    // }
    &:hover {
        transform: scale(1.2);
        // &:before {
        // background-color: rgb(251, 255, 6);
        // }
    }
    a {
        color: white;
        text-decoration: none;
        transition: all 0.6s;
        &:hover {
            color: rgb(251, 255, 6);
        }
    }
}

.menu__social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        &:hover {
            svg path {
                fill: #ffffff;
            }
        }
    }
}

.menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 5, 5);
    opacity: 0.75;
}